<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Grade Report Generator</title>

    <link rel="stylesheet" type="text/css" href="../static/styles/subject_list.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/navbar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>

    <form>
        <nav>
            <div class="logo"><a href=""><img src="../static/images/logo1.png"></a></div>
            <form>
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="">Subject List</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="BSCS_Subject_List">BSCS</a>
                    <a class="dropdown-item" href="BSIT_Subject_List">BSIT</a>
                </div>
            </form>

            <form>
                <a class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="">Offered Subjects</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/BSCS_Offer_Subject">BSCS</a>
                    <a class="dropdown-item" href="/BSIT_Offer_Subject">BSIT</a>
                </div>
            </form>

            <form>
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="">Codeshare Subjects</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/Set_Codeshare">Set Codeshare</a>
                    <a class="dropdown-item" href="/search">Search Codeshare</a>
                </div>
            </form>

            <form>
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Meeting</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="BSCS_Meeting">BSCS</a>
                    <a class="dropdown-item" href="BSIT_Meeting">BSIT</a>
                </div>
            </form>
            
            <form>
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="">Committee Setup</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="BSCS_Committee_Setup">BSCS</a>
                    <a class="dropdown-item" href="BSIT_Committee_Setup">BSIT</a>
                </div>
            </form>
        </nav>
    </form>

    <form action="/BSCS_Offer_Subject" method="POST">
        <button type="submit" class="btn btn-outline-dark back-offered-course"><i class="fa fa-arrow-left"></i> Back</button>
    </form>

    <h2 class='h2style'>Setup Offered Courses: Bachelor of Science in Computer Science</h2>
    <center>
        <div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </center>
    <br>
    <form action="{{ url_for('BSCS_Set_Offer_Subject') }}" method="POST">

        <input type="text" name="selece_semester" id="selece_semester" class="form-select form-text select-font select-form"  placeholder="Semester (Example: 1/2022)" required pattern="[1-3]+/+[0-9]{4}">

        <br><br>

        <table class="table table-bordered offered-course-set-table" style="width: 60%;">
            <tr class="heading-name">
                <th style="width: 3%"></th>
                <th style="width: 15%">Subject ID</th>
                <th>Subject Name</th>
                <th style="width: 15%"> Section</th>
            </tr>
            {% for bscs_data in bscs_subjects %}
            <tr>
                <td><input type="checkbox" value="{{ bscs_data.subjectcode }}" name="checkbox" class="checkthis"></td>
                <td>{{bscs_data['subjectcode']}}</td>
                <td>{{bscs_data['subjectname']}}</td>
                <td style="text-align:center;">{{bscs_data['section']}}</td>
            </tr>
            {% endfor %}
        </table>

        <center>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </center>
    </form>
    <br>
</body>

</html>