.h2style {
    font-size: 28px;
    font-family: 'Tahoma', Times, serif;
    /* font-family: 'Cherry Swash', cursive; */
    position: relative;
    margin-left: 6%;
    font-weight: bold;
    color: #2c56b3;
    width: 100%;
}

.it-h2style {
    font-size: 28px;
    font-family: 'Tahoma', Times, serif;
    /* font-family: 'Cherry Swash', cursive; */
    position: absolute;
    margin-left: 6%;
    font-weight: bold;
    color: #2c56b3;
    width: 100%;
}

a {
    color: #5469d4;
    text-decoration: unset;
}

span {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #1a1f36;
}

label {
    margin-bottom: 10px;
}

.reset-pass a,
label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.reset-pass>a {
    text-align: right;
    margin-bottom: 10px;
}

.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.footer-link span {
    font-size: 14px;
    text-align: center;
}

.table-wrapper {
    width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
    margin-top: -2%;
}

.table-title .add-new {
    float: right;
    height: 34px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 10px;
    line-height: 13px;
    margin-top: -4%;
}

.table-title .add-new i {
    margin-right: 4px;
}

table.table {
    table-layout: fixed;
    border-radius: 20px;
    margin-top: 5%;
}

table.table th {
    font-size: 16px;
}


table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:first-child {
    border-radius: 20px 0px 0px 0px;
}

table.table th:last-child {
    width: 100px;
    border-radius: 0px 20px 0px 0px;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

table.table td .edit {
    position:static;
    height: 20px;
    width: 20px;
}

table.table td .delete {
    position: relative;
    height: 20px;
    width: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 5ch auto;
}

form {
    display: inline; 
}

