html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.para {
    color: #f50000a4;
    font-size: 15px;
    margin-left: 17%;
    margin-bottom: -2.5%;
}

.back-offered-course{
    position: absolute;
    left: 1%;
    margin-top: 1%;
}

.back{
    position: absolute;
    left: 4%;
    margin-top: 2%;
}

.h2style {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-left: 22.3%;
    font-weight: bold;
    margin-top: 3.5%;
    color: #2c56b3;
}

.h2style1 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Cherry Swash', cursive; */
    position: relative;
    margin-left: 10.5%;
    font-weight: bold;
    margin-top: 4%;
    color: #2c56b3;
}

.h2style2 {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Cherry Swash', cursive; */
    position: relative;
    margin-left: 10.5%;
    font-weight: bold;
    margin-top: 1%;
    color: #2c56b3;
}

.sub-search{
    margin-left: 13.4%;
}

.bsize{
    width: 100px;
}

.add-position{
    position: absolute;
    left: 7%;
    margin-top: 2%;
}

.table-title .add-new {
    float: right;
    height: 34px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 10px;
    line-height: 13px;
    position: relative;
    margin-top: 8%;
    margin-right: 30%;
}

.table-title .add-new1 {
    float: right;
    height: 34px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 10px;
    line-height: 13px;
    position: relative;
    margin-top: -6%;
    margin-right: 40%;
}

table.table {
    table-layout:auto;
}


table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table th:last-child {
    width: 150px;
}

table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 20px;
}

table.table td i {
    font-size: 19px;
}

table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}

table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}

table.table .form-control.error {
    border-color: #f50000;
}

table.table td .add {
    display: none;
}

table.table td .edit {
    position:relative;
    left: 8%;
    height: 20px;
    width: 20px;
}

table.table td .delete {
    position: relative;
    left: 20%;
    height: 20px;
    width: 20px;
}

.T-position{
    position: relative;
    margin-left: 7%;
}

.search-size{
    width: 30%;
    height: 80px;
    position: relative;
    left: 13%;
}

.search-btn{
    position: absolute;
    left: 105%;
    top: 1%;
}

form {
    display: inline; 
}


.offered-course-set-table{
    position: relative;
    margin-top: -4%;
    left: 20%;
}

.select-form{
    font-size: 15px;
    width: 15%;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-bottom: 2%;
    margin-left: 20.2%;
    box-shadow: 0 0 0.1cm black;
    border: solid white;
}

.click-here{
    position: relative;
    margin-left: 7%;
    margin-top: 0.5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.click-here1{
    position: relative;
    margin-left: 7%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.input1[type=number],
.input1[type=text] {
    padding: 2% 1%;
    line-height: 7px;
    position: relative;
    left: 1%;
    margin-top: -1%;
    margin-bottom: -1%;
    text-align: center;
    display: inline-block;
    border-color: white;
    border-style: none;
    border-width: 0px;
    height: 80%;
    width: 98%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.show-sharecode-inGRange{
    position: absolute;
    left: 14%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 7%;
}

.EditDefGrade{
    position: relative;
    left: 46%;
    margin-top: 2%;
    width: 100px;
}
/* ------------------------------------------------------------------------------------------------ */

/* for bscs_show_grade.html */

.show-grade-table{
    position: relative;
    left: 23.5%;
    margin-top: 3%;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    line-height: 7px;
}
    
.show-table-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    background-color: rgba(248, 248, 248, 0.842);
    box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.2);
}

.show-grade-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 2%;
    color: #2c56b3;
}

.show-grade-heading2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin-top: 4%;
    color: #2c56b3;
}

.show-grade-back{
    position: absolute;
    left: 1%;
    margin-top: -3.8%;
}

/* ------------------------------------------------------------------------------------------------ */

/* for meeting_detail.html */

.meeting-details-heading {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Cherry Swash', cursive; */
    position: absolute;
    margin-left: 37%;
    font-weight: bold;
    margin-top: 2%;
    color: rgb(8, 8, 8);
}

.mdetails-offered-course-table{
    position: absolute;
    margin-top: 8%;
    left: 19.5%;
}

.heading-name{
    background-color:#ffffff ; 
    color:rgb(8, 8, 8); 
    text-align: center;
    position: relative;
    box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.2);
}

.meeting-details-form{
    box-shadow: rgba(111, 114, 122, 0.12) 0px 7px 14px 0px, rgba(36, 35, 35, 0.12) 0px 3px 6px 0px;
    width: 20%;
    height: 100%;
    position: absolute;
    left: -1%;
    margin-top: -2%;
}

.space{
    position: relative;
    margin-top: 75%;
}

.back-meeting{
    position: absolute;
    left: 10%;
    margin-top: 4%;
}

.line{
    position: absolute; 
    margin-top: 1%;
}

.btndetail:hover{
    font-size: 18px;
    color: yellow;
    text-decoration: none;
}
/* ------------------------------------------------------------------------------------------------ */

/* for bscs_setgrade.html */

.set-grade-heading{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;
    margin-top: 2%;
    text-align: center;
    color: #2c56b3;
}

.grade-change-table{
    position: relative;
    left: 25%;
    margin-top: 0%;
    text-align: center;
    line-height: 10px;
}

.grade-change-table1{
    position: relative;
    left: 13%;
    margin-top: 0%;
    text-align: center;
    line-height: 10px;
}

.grade-change-header{
    background-color: rgb(250, 250, 250);
    color: rgb(3, 3, 3);
    font-size: 16px;
    box-shadow: 0 0 0.2cm rgba(0, 0, 0, 0.2);
}
/* ------------------------------------------------------------------------------------------------ */

